on: workflow_dispatch

env:
  whotogreet: 'Mona the Octocat'
  
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v3
      - id: foo
        uses: ./.github/actions/action-a
        with:
          who-to-greet: ${{ env.whotogreet }}
      - run: echo random-number ${{ steps.foo.outputs.random-number }}
        shell: bash
